CPSC 321 Shawn Bowers

Office Hours: Tu/Th 12:30-1:30
wed 1-3
or by email appointment

Course Topics: 
    * Relational model
    * Basic and Interm SQL ( in mySQL )
    * Logical database design
        - ER model, normalization
    * Physical database design, centered around optimization
    * Transactions and Recovery

1. Persistance
    * Data that lives longer than the application, can access it after turning application off

2. Database
    * Data store + organization/structure

3. Database management system ( DBms )

4. DBms suported user operations
    * design an organization for data ( "schema" )
    * update data by adding, modifying or deleting
    * retrieve data ( via a "query language" )
    * manage who has access to what data

5. Relational Database management system ( RDBms )
    * all data is stored in relation model ( tables made of rows/cols )
    * SQL is typical language to interact with RDBms

6. SQL command (sub) languages
    * Data definition language ( DDL )
        - create, alter, drop
    * Data manipulation language ( DML )
        - insert, update, delete
    * Data Query Lang. ( DQL )
        - Select , with
    * Data Control Language ( DCL )
        - grant and revoke permissions

7. Transaction processing ( OLTP )
    * support "Daily operations" of a business
        - modifying, adding ,removing ... "write heavy"
        - some querying
        - fast response times many concurrent sessions

8. Analytics ( OLAP )
    * supports 'decision making' tasks of business
    * queries often complicatied, involve large amounts of data
        - read heavy workloa

9. Transactional concurrency
    * challenging

10. ACID propers ( transaction concurrency )
    A: atomicity - all or nothing
    C: consistency - transactions preserve DB constraints
    I: isolation - transactions execute as if there aren't others (serializability)
    D: durability - transaction effect not lost


DB for e-bike company:
    - GBFS = General Bikeshare Feed Specification
        * types of vehicles
        * real-time info
        * customer data

Relation (table) (schema + instance): 
Vehicle-Type            | relation
    V_type make model   | schema
    1      segway nine V  ( Relation instance)
...

*
Relation "Schema"
    * relation name ( Vehicle type)
    * set of attributes
        - each has name
        - domain
            + a domain is both: 
                a data type (storage type) both collection and storage types are "first normal form"
                    > we assume "atomic" data types eg. int, string,bool; list,set (collection types)
                set of allowable values ( opt. constraint) like age should be between 1-120 roughly


 Syntax to refer to schema: R(a1:int,a2:string..an) can void types
    - Vehicle-type(V_type make model)

Relation "Instance"
    * a set of "tuples" ("row", "record")
        - order doesn't matter, no repeat data
    * many possible instances of a schema

A "database schema" is a set of relations schemas ( tables )
A "database instance" is the set of its relation instances

Arity (degree) = # of cols

Cardinality = number of rows

NULL is a special value 
    * means "unknown" or "N/A"

A "key" is an attribute, or a set of attribues (composite key), with unique values
    - ex. ID

*** Q: What are the potential keys?

    VehicleType(vt_id *, make, model)
    Vehicle(v_id *, vt_id, lat, lon)
    Trip(v_id * , c_id*, startDate*, startTime*, totalCharge)

    Customer(c_id, email, ssn, ...)
        * each individually are "candidate keys"
        * minimal candidate keys have been narrowed down to the smallest they can be

Primary Key
    * key(unqiue) + storage ( no Nulls)


"Bad" references = a keys which reference another table where the instance does not exist

We can prevent bad references by using "foreign keys"
    * States that column values in one table must come from a key in another table
        ex. v_id must be a number exisiting in an alternate table
    * requires vehicle rows to refer to vehicleType rows ( or to be NULL )

Enforcing foriegn key constraints is known as "referential integrity"

VehicleType(vt_id,make,model,default_plan)
Vehicle(v_id,make,model,lat,lon)
PricingPlan(p_id,price-per-min,unlock_price)
AllowedPlan(vt_id,p_id)

1.  Vehicle.vt_id references VehicleType.vt_id
2.  VehicleType.default-plan references PricingPlan.p_id
3.  AllowedPlan.vt_id references VehicleType.vt_id
4.  AllowedPlan.p_id references pricingplan.p_id
    * VehicleType.(vt_id,default_plan) references AllowedPlans.(vt_id,p_id)
        ex. ^^^ This is a composite foreign key ( order matters of parameters )

Foreign Key summary:
    * Must reference the entire primary key
        - if R(_x,_y,z), S(_u,x,y)
        then, S.(x,y) references R.(x,y)
    * Must have null or matching fk value
    * enforced by DBms
    * Can be NULL

 Q: What do the following key constraints imply?
    
    1. AllowedPlan(vt_id_, p_id_)
        * implies that every price plan can have any vehicle type

    2. AllowedPlan(vt_id_, p_id)
        * Each vehicle type can have at most 1 allowed pricing plan
    3. AllowedPlan(vt_id, p_id_)
        * For every pricing plan, only one vehicle type can have it 

Domains, PKs (candidate keys), Fks are types of "integrity constraints"

Surrogate keys and Artificial keys:
    usually we have "natural" keys
        - when composite can make Fks problematic
Artificial ex.

R(x1,x2,x3,x4) => S(y1,y2,y3, x1.,x2.,x3.,x4.) 
instead: 
R(x1,x2,x3,x4,z1) => S(y1,y2,y3, z1.) Artificial keys are not "naturally occurring"

Surrogate Keys are managed by the DB to create unique values for the key
    * Can cause rows with duplicate values

Schema Diagram Basics:
    1. Ea. table drawn as a labaled box

 Branch 
| brand_name PK | Address | phone |
| --------------| ------- | ----- |

Copy
| barcode PK | 
| ---------- |

Account
| Acct_id PK | acct_ name | FK main_ branch | 
| ---------- | ---------- | --------------- | 


Loan
| acct_id PK FK_1 | barcode PK FK_2 | checkout_date PK | due_Date | return_date |
| --------------- | --------------- | ---------------- | -------- | ----------- | 

( so a person can checkout the same book multiple times)

SQL: Structured Query language (declarative language)
- 1999 SQL 3
- SQL is mostly case insensitive
- convention is commands are all uppercase
- remember to add drop command at start of sql files (DROP TABLE IF EXISTS tablename;)

Imperative languages: tells computer how and what you want to do
Declarative (SQL): tell it what a solution should look like, what not how;  command based

#### Connecting to mySQL (Running Maria DB 10.3)
1. DB-server ( cps-database.gonzaga.edu)
1. mysql -p -h cps-database (mysql -u username -p -h cps-database )
    - (login with a password, and specifying the host)
    - If you are off campus use the gonzaga vpn to access 
    - ada.gonzaga.edu
1. ssh in terminal on local machine to get to ada
    - can by-pass ada entirely by installing a mysql client on local machine
Once inside the Database
1. use mmanca2_DB;

table syntax:
CREATE TABLE tablename(
    att1 type1 (can add aditional constraints here),
    att2 type2, ...
    attn typen,
);
cmmds
- explain tablename;
- show tables;


Query commands:
SELECT * FROM tablename;
INSERT INTO tablename VALUES(v1,v2,...), $()_n$;

DROP TABLE tablename; (delete)
SOURCE filename;

##### 1. Integer values
- INT = 4 bytes
- MEDIUM INT = 3 bytes (not sql)
- SMALL INT = 2 bytes
- TINY INT = 1 byte
- BIG INT = 8 bytes
    - attributeName INT unsigned
- INT(size)

##### 2. Floating point values ( approximations, not good for precision )
- FLOAT
- DOUBLE
- FLOAT (M,D)
    - M = total digits, D = # of digits in M after decimal point
- DECIMAL (M,D) (for exact values)
    - DECIMAL (8,6) _ _. _ _ _ _ _ _

##### 3. Boolean/Binary values
- BOOL,BOOLEAN has false and true
- BIT(m)
    - ex. BIT(2) = 00, 01, 10, 11
##### 4. String values
- CHAR(N) where 0 <= N <= 255 ( fixed size )
- VARCHAR(N) where 0 <= N <= 65,535 ( variable size alocation)
    - more compact
- ENUM ('blue','green','red') specify all string values that can be entered
- BLOB = "Binary Large Object", allows to store as much data as DB can hold like an image
    - TEXT = Character version of a blob 
    - TINYTEXT supports up to 255 characters

##### 5. Date and Time Values
- YEAR = 'YYYY'
- DATE = 'YYYY:MM:DD'
- TIME = 'HH:MM' or 'HH:MM:SS'
- ** DATETIME = 'YYYY:MM:DD HH:MM:SS'

#### Creating Tables SQL
branch(branch_name PK,address,phone)
account(acct_id PK,acct_name,main_branch FK)

Foreign key format: FOREIGN KEY(att1,att2) REFERENCES branch_name(att1,att2)

CREATE TABLE branch (
    branch_name VARCHAR(50),
    address TINYTEXT NOT NULL,
    phone char(12) NOT NULL,
    PRIMARY KEY (branch_name)
    UNIQUE (address),
    UNIQUE(phone)
);

CREATE TABLE account(
    acct_id INT UNSIGNED,
    acct_name TINYTEXT NOT NULL,
    main_branch VARCHAR(50),
    <!-- Need this data type to be the same as branch_name because it is a FK -->
    PRIMARY KEY (acct_id),
    FOREIGN KEY (main_branch)
    REFERENCES branch(branch_name)
);

NOT NULL
    "attribute level constraint" 
    "attribute is required" vs. optional
UNIQUE
    "requires things to be unique"
CHECK
    "table level constraint"

#### Inserting Tables SQL
* Best to insert in large sums (called batching avoid overhead)
1. INSERT INTO tablename VALUES 
(v1,v2), (v1,v2);

2. INSERT INTO tablename (a1,a2) VALUES 
    (v1,v2),...;

3. INSERT INTO tablename SET 
    (a1 = v1), (a2 = v2)...; 
    <!-- can only change one row -->

##### DROP TABLE...
* remove all rows but keep the schema
    * DELETE FROM account;
* remove some rows
    * DELETE FROM account WHERE acct_id = 101;

##### Update 
* update attribute values of all rows
    * UPDATE account set main_branch = 'shadle';
* specific rows
    * UPDATE account set main_branch = 'shadle' WHERE acct_id = '101'

##### AUTO_INCREMENT for surrogates
CREATE TABLE pet(
    pet_id INT UNSIGNED AUTO_INCREMENT,
    pet_name TINYTEXT NOT NULL,
    pet_type TINYTYEXT NOT NULL DEFAULT 'dog',
    PRIMARY KEY(pet_id)
);

INSERT INTO pet(pet_name,pet_type) VALUES ('bill',cat');
<!-- pet_id is auto increment -->
INSERT INTO pet(pet_name) VALUES ('fido');
<!-- Uses auto increment and default value for dog -->

#### Boolean constraints using CHECK

Table level constraint 

CREATE TABLE loan(
    acct_id INT UNSIGNED,
    barcode INT UNSIGNED,
    Checkout_date DATE,
    due_date DATE NOT NULL,
    return_date DATE,
    PK(acct_id, barcode,Checkout_date),
    FK(acct_id) REFERENCES account(acct_id),
    CONSTRAINT valid_due_date CHECK ( checkout_date < return_date),
    CONSTRAINT valid_return_date CHECK ( return_date > checkout_date);
    
)

Loan:
|acct_id|barcode|checkout_date|due_date|return_date|
|-------|-------|-------------|--------|-----------|
|101|4242|8/12|8/28|8/26|
|101|4243|8/12|8/19|NULL|
|102|4242|8/25|9/7|8/29|
|101|4243|7/10|7/17|7/18|

Ex. Find barcodes of books loaned by account 101
1. SELECT barcode ( Selects attributes)
1. FROM Loan ( Specifies table being queried )
1. WHERE acct_id = 101; ( boolean conditions )
output: 
<br>
|barcode|
|-------|
|4242|
|4243|
|4243|

### SQL Queries: 

* <h4>Select</h4>
* ea. query Q can be defined over one or more tables
* result of a query Q is an output table
* thus, queries can be viewed as function $ Q:R_1 * R_2 * R_n -> R_output $

* <h4>Select attributes:</h4>
1. You can have more than one attribute
     SELECT barcode, due_date
1. You can rename attributes
    * SELECT acct_id AS account
1. Can ask for only unqiue rows
    * SELECT DISTINCT acct_id AS account, barcode
    * added keyword because it is expensive to remove duplicates, queries are much slower

* <h4>ORDER BY</h4>
* SELECT acct_id, barcode, due_date
* FROM Loan
* WHERE acct_id = 101
* ORDER BY due_date ASC/DESC
    * Ascending( smallest to largest ) default value
    * Descending ( Largest to smallest )
* Multiple attributes break ties
    * ORDER BY acct_id, due_date DESC
        * Would be sorted in different order


SELECT-FROM-WHERE Queries (plus ordering)
(Spj) 

* <h4>Basic where conditions:</h4>
* AND, OR, NOT
* =,<,>,<=,>=, != 
* BETWEEN x AND y (inclusive x <= v >= y)
* IS NULL or IS NOT NULL

Ex. Select due dates from acct 101 with barcode 4243
* SELECT due_dates 
* FROM Loan
* WHERE barcode = 4243 AND acct_id = 101
 
Ex. select barcodes to acct 101 that are either still checkout out or were returned after the due date
* SELECT barcodes
* FROM Loan
* WHERE acct_id = 101 AND (return_date IS NULL OR return_date > due_date)

#### FROM:
* SELECT *
* FROM Branch,Account
* WHERE branch-name = main_branch

1. for ea. row r1 in Branch
1. for ea. row r2 in Account
1. if(r1 branch-name = r2 main_branch):
1.   output the row r1 r2
ex. combines the data of the two tables into one table
    central 906 Main 444-5300 101 Alice Central

* Two tables with same attribute name, must be specific with what table they are in ( Parser cannot disambiguate)
    * prefix with the tablename
        ex. (Loan.acct_id = Account.acct_id)
    * 'Corellation names' Better in almost every case
* SELECT a.acct_name, l.barcode, l.due_date
* FROM Loan l, Account a
* WHERE l.acct_id = a.acct_id
(add a.acct_id < l.acct_id to get 1 output)
6 outputs, for loop matches with itself if same table passed in twice


SELECT a.acct_id, a.main_branch, l.barcode
FROM Loan l , Account a
WHERE a.acct_id = 101

"cartesian" product, combining everything from two tables

Q: What does this query return?
* SELECT *
* FROM account
* WHERE main_branch = 'central' AND main_branch = 'shadle'
    returns: empty table

#### Joining
* When joining with itself, known as a self join
* Cross join, rarely used
* JOIN-ON

##### JOIN-USING 
- SELECT a.acct_id, a.main_branch, l.barcode
- FROM Loan l JOIN Account a USING (acct_id)
    1. FROM loan l, JOIN Account a USING (acct_id) **join condition  ( Then no need for where clause)
    1. Used when Attributes match



##### JOIN-ON
- SELECT a.acct_id, a.acct_name, b.phone
- FROM Branch b JOIN Account a ON (b.branch_name = a.main_branch)

    1. Used when you have an attribute you don't want repeating
    1. FROM Branch b JOIN Account a ON (b.branch_name = a.main_branch) **join condition
    1. Used with conditions, and attributes do not match

##### Natural Join
ex.
- SELECT * 
- FROM Loan NATURAL JOIN Account (Not explicit)
    1. automatically joins on attributes in two tables with same name (eg. acct_id)
    1. only includes one of the attributes (being joined on) in the output
    * Can get complicated with multiple matching attributes:
ex.
- $R_1(x,y,z) R_2(x,u,z)$
- SELECT * FROM $R_1$ NATURAL JOIN $R_2$
    - is the same as, FROM $R_1$, JOIN $R_2$ USING (x,z) ... ON $(R_1.x=R_2.x AND R_1.z = R_2.z)$

##### More on NULL Values
##### Note: NULL means unknown, be very cautious don't use if possible
1. WHERE only selects conditions that are True
- ex. What does this return?
    - SELECT * FROM Account WHERE NULL
    * returns empty set because WHERE condition isn't True (unknown)
1. Comparisons involving NULL are always unknown... evaluate to NULL
- ex. what does this return?
    - SELECT * FROM account WHERE main_branch = NULL;
    * Condition equates to null because of comparison, seeing if unkown is equal to unknown
1. SQL uses '3-valued' logic for AND,OR,NOT

|x|y|x AND y|
|----|----|-------|
|T|T|T|
|T|F|F|
|F|T|F|
|F|F|F|
|NULL|T|NULL|
|NULL|F|F|
|F|NULL|F|
|T|NULL|NULL|

<br>

|x|y|x OR y|
|----|----|-------|
|T|T|T|
|T|F|T|
|F|T|T|
|F|F|F|
|NULL|T|T|
|NULL|F|U|
|F|NULL|NULL|
|T|NULL|T|
|NULL|NULL|NULL|

##### Good Practice:
WHERE (main_branch IS NOT NULL AND main_branch = branch_name)
* Check for Null before comparison to prevent errors

#### End of SQL Queries for now:

#### Dynamic SQL: ( Using a Database from a process )
- 99% of SQL is generated programmatically via libraries or frameworks
* "result sets" ( cursors ) for (_:_)
    * Similar to iterators 
        * hasNext() "pull model"
        * next()
- 3 models for accessing a database
    1. Dynamic SQL
    1. Obj.Relation mappings (ORMs)
    1. Embedded SQL ( extend language to have sql statements )

#### Traditional DB strucutre
1. App creates a connection to database, channel opened
1. App sends executable query
1. Database returns result set (r)
1. Space is now reserved and linked to r
1. App r.next -> DB
1. DB returns 1 row, caches data and remembers where it is in the cache
1. App disconnects (closes r)
1. Frees up overhead in connection and no longer reserves space for r
Note: Data flows from bottom to root in a flow diagram
* Stores chunk of data that fits all parameters, chooses next in that chunk

#### Web service middleman 
1. Web service usually runs on its own independent server
1. Web server connects requests into queries, sends exec query to DB 
1. DB sends back result set (r)
1. Web server formats and returns data in JSON
* With changes, only need to change the webserver as opposed to every app

##### Result Sets
* Result set is placed one before the start of the first row
* move forward only **
*  ^^^ or backward, one row at a time
* move to arbitrary locations
* modify or delete a row

##### Plan: 
1. Look at 3 langs initially, Java python and c++
* ODBC - open database connectivity (ms)
* JDBC - java database connectivity (API)
* Drivers often implement the API


#### Java & JDBC: A Simple Example:

```Java
import java.sql*; // JDBC
public class MySQLTest{
    public static void main(String [] args) throws Exception{ 
        String url = "jdbc:mysql://cps/database.gonzaga.edu/MmancaDB";
        Connection cn = DriverManager.get(url,"nameHere","password"); // established connection handler
        Statement st = cn.createStatement();
        String q = "SELECT * FROM Pet ORDER BY name";
        ResultSet rs = st.executeQuery(q);
        while (rs.next()){
            String name = rs.getString("name");
            System.out.println("name = " + name);
        } 
        rs.close();
        st.close();
        cn.close();
    }
}
```
```C
// #include lots

int main()
{
    sql::Driver driver = get_driver_instance();
    sql::Connection vn = driver ->connect(HOST,USER,PASS);
    cn->setschema("mmanca2_DB");

    sql::Statement* st = cn->createstatement();
    String q = "SELECT * FROM Pet ORDER BY name";
    sql::ResultSet* rs = st->executeQuery(q);
    
    while(rs->next()){
        String name = rs->getString("name");
        cout << name << endl;
    }
delete rs;
delete st;
delete cn;
}
```

```python
import mysql.connector as mc

def main():
    cn = mc.connect(host='cps-database.gonzaga.edu', user = 'loginname',password = 'pass')
    rs = cn.cursor()
    q = 'SELECT * FROM Pet ORDER BY name'
    rs.execute(q)
    for row in rs:
        name = row[1]
        print(name)
    rs.close()
    cn.close()    
```

#### Handling User Input:
- Prepared statement:
    * "WHERE type = ? AND INSTR(appearance, ?)";

- remember to commit on cn

### Database Design
* How to identify poor designs ("normalization")
* Higher-level (abstractions via conceptual modeling)
* Design approach based on conceptual models

#### Review of Keys:
- Super key:
  1. non-empty set of attributes that uniquely identify rows
  2. no two rows have same combination of superkey attribute values

- Minimal key:
  1. superkey w/ minimal set of attributes( can't remove an attribute and still have a key)

- Candidate key:
  1. each minimal superkey for a relation is a candidate key

- Primary key: 
  1. (ideally) candidate key designer picks to be enforced by DBMS

## EXAM 1 Topics:
* Relational model (terms keys fks constraints)
* SQL Data def (Create table etc)
* SQL queries
* Possibly highlevel q's on dynamic

### Emp Dept: (redundancy)

|eid|name |dept|dept_name |
|---|-----|----|----------|
|A01|Alice| 12 |    CS    |
|A12| Bob | 10 |    HR    |
|A13| Bob | 12 |    CS    |
|A03|Alice| 12 |    CS    |
<br>

* Problems:
    1. wasted space
    1. inconsistencies
1. Update Anomaly:
    * partial update, creates inconsistencies
1. Insert Anomaly: 
    * What if we want to add a dept, but mo one's assigned to it yet, employee is linked to dept.
1. Deletion Anomaly:
    * Removing the last person from a department, lose all info on department

## Normal Forms 1: 

### DB Normal Forms and Decomposition

- We identifiy issues in the table, using functional dependencies
  - Then we will split it (decomposition) to make a better DB, then join again after fixing issues
#### Normal Forms: 
1. First Normal Form (1NF)
    * Only have atomic values (given)
1. Second Norm Form (2NF)
    * Some restrictions, allows some redundancy
1. Third Normal Form (3NF)
    * More restrictions, still allows redundancy
    * Allows a specific form of redundancy (sometimes best we can do)
1. Boyce-Codd Normal Form (BCNF)
    * No redundancy based on function dependencies


|eid|name |dept|dept_name |
|---|-----|----|----------|
|A01|Alice| 12 |    CS    |
|A12| Bob | 10 |    HR    |
|A13| Bob | 12 |    CS    |
|A03|Anne | 12 |    CS    |

<br>

* rows are determined by eid

#### FD = a “functional dependency” 
* Written as: eid → name, dept, dept_name
* Implying: eid → name, eid → dept, and eid → dept_name

### 3 special kinds of FDs
1. Key FDs are of the form X -> Y where X contains a key
  * X is a superkey
  * databse enforces these for us
1. Trivial FDs are of the form X-> Y such that $Y \subseteq X$ (subset)
  * dept -> dept
1. Non-key, Non-Trivial FDs
  * The rest: The non-key FDs that aren't trivial
  * These are 'bad'

### Normalization:
* “Decomposes” a table into smaller tables 
  * Based on current attribute dependencies, follows decomposition algorithm
* Assumes more than 1 relation

### Normal Forms:
1. 1NF = atomic (assumed)
2. 2NF = a relation is 2NF if...
   1. Every non-key attribute is fully dependent on each candidate key
   2. Cannot be partially dependent
3. 3NF = a relation is 3NF if for every non-trivial FD X->Y:
   1. X -> is a key dependency (X superkey)
   2. Y is a part of some candidate key
   3. Only applies if you have a composite key
4. BCNF = subset of 3NF, if every non-trivial FD is a key dependency

#### Find the highest normal form:

Enrollment(student_id PK,course_id PK, instr_id, student_name, instr_name )
* student_id -> student_name
* course_id -> instr_id
* instr_id -> instr_name ( Not 3NF)
This is 1NF normalization form. 

EmpDept(eid PK, name, dept, dept_name)
* dept -> dept_name
<br>
2NF highest form

Assigned(eidPK, pid PK, emp_name, percent)
* eid -> emp_name (partial dependency)
<br>
emp_name is not apart of the key, so cannot be 3NF
1NF highest form

## Normal Forms Cont.

### Basic Idea of Normalization:
* Repeatedly decompose a table to remove "bad" FDs
- Generates a binary tree of decomposed relations w/ original table as root
  - Used the bad functional dependency to split relation

To decompose a table using 'bad' FD X-Y: R(WXY)
1. Remove Y from original table $R_1(WX)$, same key
2. Create a table out of X,Y $R_2(XY)$ where X is the key
3. Make X the key $R_2(X^KY)$
4. Repeat for $R_1$ and $R_2$
<br>

- Order matters in the decomposition algorithm

Enrollment(student_id PK,course_id PK, instr_id, student_name, instr_name )
* student_id -> student_name (2)
* course_id -> instr_id (3)
* instr_id -> instr_name ( Not 3NF) (1)
This is 1NF normalization form. 
```
                      Enrollmet(student_id, course_id, instr_id, std_name, instr_name)
                      /               \
                    /                   \
Enrollment(std_id,crs_id,int_id,std_name) \
std_id -> std_name /                  \      $R_2$(instr_id,instr_name) BCNF
              /                         \
  Enrollment(std_id PK, course_id, instr_id)\
  course_id -> instr_id     \                 \
          /                   \               $R_3(student_id, student_name)$ BCNF
        /                       \
Enrollment(std_id PK, course_id PK)\ 
BCNF                                 \
                                      $R_4$(course_id,instr_id)
```
*